@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: inter;
  color: black;
  background: linear-gradient(to top, #133d72 0%, #4d6a80 100%);
}

button{
  padding:15px;
  border-radius: 5px;
  color: white;
  background-color: #0f5cb5;
  border:none;
  font-size: 15px;
  font-weight: bold;

}
